backend/n8n_workflows/drct_order_cancel.json
{
  "name": "DRCT Order Cancel Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "drct/order/cancel",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c71",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "drct-order-cancel"
    },
    {
      "parameters": {
        "jsCode": "// Validate cancel request\nconst body = $input.item.json.body;\n\nif (!body) {\n  throw new Error('Request body is required');\n}\n\nif (!body.order_id) {\n  throw new Error('Missing required field: order_id');\n}\n\n// Validate order_id format\nif (typeof body.order_id !== 'string' || body.order_id.trim() === '') {\n  throw new Error('order_id must be a non-empty string');\n}\n\nconsole.log(`[Validate] Cancel request for order: ${body.order_id}`);\n\nreturn {\n  order_id: body.order_id.trim(),\n  reason: body.reason || 'USER_REQUEST',\n  refund_requested: body.refund_requested !== false // default to true\n};"
      },
      "id": "b2c3d4e5-6f7a-8b9c-0d1e-2f3a4b5c6d71",
      "name": "Validate Cancel Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://sandbox-api.drct.aero/orders/{{ $json.order_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "DRCT-Version",
              "value": "2021-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  reason: $json.reason,\n  refund_requested: $json.refund_requested\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json",
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "c3d4e5f6-7a8b-9c0d-1e2f-3a4b5c6d7e71",
      "name": "DRCT Cancel Order API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// Transform DRCT cancel response to Aviaframe format\nconst response = $input.item.json;\n\nconsole.log('[Transform] DRCT order cancellation response received');\n\nreturn {\n  order_id: response.order_id || response.id,\n  status: response.status || 'CANCELLED',\n  cancelled_at: response.cancelled_at || new Date().toISOString(),\n  refund: {\n    status: response.refund?.status || 'PENDING',\n    amount: response.refund?.amount || 0,\n    currency: response.refund?.currency || 'USD',\n    estimated_date: response.refund?.estimated_date || null,\n    penalties: response.refund?.penalties || 0\n  },\n  tickets: (response.tickets || []).map(ticket => ({\n    ticket_number: ticket.ticket_number,\n    status: ticket.status || 'CANCELLED',\n    passenger: ticket.passenger\n  })),\n  reason: response.reason || 'USER_REQUEST',\n  metadata: {\n    processed_at: new Date().toISOString(),\n    workflow_id: 'drct_order_cancel'\n  }\n};"
      },
      "id": "d4e5f6a7-8b9c-0d1e-2f3a-4b5c6d7e8f71",
      "name": "Transform Cancel Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "responseCode": 200
        }
      },
      "id": "e5f6a7b8-9c0d-1e2f-3a4b-5c6d7e8f9a71",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  error: {\n    code: 'VALIDATION_ERROR',\n    message: $json.message || 'Invalid cancel request'\n  }\n}) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "f6a7b8c9-0d1e-2f3a-4b5c-6d7e8f9a0b71",
      "name": "Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [470, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  error: {\n    code: 'DRCT_API_ERROR',\n    message: 'Failed to cancel order',\n    details: $json.error || $json.message || 'Unknown error'\n  }\n}) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "a7b8c9d0-1e2f-3a4b-5c6d-7e8f9a0b1c71",
      "name": "API Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 480]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Cancel Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Cancel Request": {
      "main": [
        [
          {
            "node": "DRCT Cancel Order API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DRCT Cancel Order API": {
      "main": [
        [
          {
            "node": "Transform Cancel Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Cancel Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-01-27T00:00:00.000Z",
      "updatedAt": "2026-01-27T00:00:00.000Z",
      "id": "1",
      "name": "DRCT"
    },
    {
      "createdAt": "2026-01-27T00:00:00.000Z",
      "updatedAt": "2026-01-27T00:00:00.000Z",
      "id": "4",
      "name": "Order"
    },
    {
      "createdAt": "2026-01-27T00:00:00.000Z",
      "updatedAt": "2026-01-27T00:00:00.000Z",
      "id": "6",
      "name": "Cancel"
    }
  ],
  "meta": {
    "instanceId": "local"
  },
  "pinData": {},
  "versionId": "2",
  "triggerCount": 0,
  "active": false
}
