backend/n8n_workflows/email_notifications_phase1.json
{
  "name": "Aviaframe Email Notifications Phase 1",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_BASE_URL + '/api/internal/notifications/dequeue'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{$env.INTERNAL_API_TOKEN}}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"limit\": 50}"
      },
      "id": "dequeue-events",
      "name": "Dequeue Pending Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 280]
    },
    {
      "parameters": {
        "fieldToSplitOut": "events",
        "options": {}
      },
      "id": "split-events",
      "name": "Split Events",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [760, 280]
    },
    {
      "parameters": {
        "jsCode": "const ev = $json || {};\nconst payload = ev.payload || {};\nconst toEmail = (ev.recipient_email || payload.email || payload.contact_email || '').toLowerCase();\nif (!toEmail) {\n  return [{ json: { skip: true, reason: 'missing_recipient', event: ev } }];\n}\nconst templateKey = ev.template_key || ev.event_type;\nreturn [{\n  json: {\n    skip: false,\n    event: ev,\n    to_email: toEmail,\n    template_key: templateKey,\n    subject: payload.subject || `Notification: ${templateKey}`,\n    html: payload.html || `<p>Event: ${templateKey}</p><pre>${JSON.stringify(payload, null, 2)}</pre>`,\n    payload\n  }\n}];"
      },
      "id": "prepare-email",
      "name": "Prepare Email Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 280]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{$json.skip}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-skip",
      "name": "If Skip",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1260, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.EMAIL_PROVIDER_API_URL}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$env.EMAIL_PROVIDER_AUTH_HEADER}}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"from\": $env.EMAIL_FROM, \"to\": [$json.to_email], \"subject\": $json.subject, \"html\": $json.html}"
      },
      "id": "send-provider-email",
      "name": "Send Email (Provider)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_BASE_URL + '/api/internal/notifications/outbox'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{$env.INTERNAL_API_TOKEN}}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"event_id\": $item(0).$node['Prepare Email Payload'].json.event.id, \"to_email\": $item(0).$node['Prepare Email Payload'].json.to_email, \"template_key\": $item(0).$node['Prepare Email Payload'].json.template_key, \"subject\": $item(0).$node['Prepare Email Payload'].json.subject, \"provider\": $env.EMAIL_PROVIDER_NAME || 'provider', \"provider_message_id\": $json.id || $json.message_id || null, \"status\": 'sent', \"payload\": $json}\""
      },
      "id": "record-outbox-success",
      "name": "Record Outbox Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_BASE_URL + '/api/internal/notifications/outbox'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{$env.INTERNAL_API_TOKEN}}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"event_id\": $json.event.id, \"to_email\": $json.event.recipient_email || $json.payload.email || null, \"template_key\": $json.event.template_key || $json.event.event_type, \"provider\": $env.EMAIL_PROVIDER_NAME || 'provider', \"status\": 'failed', \"last_error\": $json.reason || 'skipped', \"payload\": $json}\""
      },
      "id": "record-outbox-skip",
      "name": "Record Outbox Skip/Fail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 380]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Dequeue Pending Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dequeue Pending Events": {
      "main": [
        [
          {
            "node": "Split Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Events": {
      "main": [
        [
          {
            "node": "Prepare Email Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Payload": {
      "main": [
        [
          {
            "node": "If Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Skip": {
      "main": [
        [
          {
            "node": "Record Outbox Skip/Fail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email (Provider)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (Provider)": {
      "main": [
        [
          {
            "node": "Record Outbox Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "phase1-email-notifications",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "email-notifications-phase1",
  "tags": [
    {
      "name": "email"
    },
    {
      "name": "phase1"
    }
  ]
}
